PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=nest_user
DB_PASSWORD=nest_dev_password
DB_NAME=nest_db
JWT_ACCESS_SECRET=replace_with_random_access_secret
JWT_REFRESH_SECRET=replace_with_random_refresh_secret
